<app-header titulo="alert page"></app-header>

<ion-content class="container">    
    <ion-card>         
        <ion-card-content>
            <ion-item>
                <ion-label position="floating"> Comensal </ion-label>
                <ion-input required="true"></ion-input>
            </ion-item>   
            <ion-item>
                <ion-label position="floating"> Fecha </ion-label>
                <ion-datetime displayFormat="DD/MMM/YYYY" min="2018-03-14" max="2090-12-09" value="2019-09-05T15:03:46.789"></ion-datetime>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <ion-card>         
            <ion-card-content>                
                <ion-list>      
                    <ion-item>
                            <ion-label> Menú # 20 </ion-label>
                            <ion-note slot="end">S/ 9.00</ion-note>
                    </ion-item>

                    <ion-item>
                            <ion-checkbox checked="true" slot="start" color="secondary"></ion-checkbox>
                            <ion-label> Sopa de verduras </ion-label>
                            <ion-note slot="end">S/ 2.00</ion-note>
                            <ion-label position="floating"> Descripción </ion-label>
                            <ion-textarea maxlength="30"></ion-textarea>
                    </ion-item>

                    <ion-item>
                            <ion-checkbox checked="true" slot="start" color="secondary"></ion-checkbox>
                            <ion-label> Ají de gallina </ion-label>
                            <ion-note slot="end">S/ 6.00</ion-note>
                            <ion-label position="floating"> Descripción </ion-label>
                            <ion-textarea maxlength="30"></ion-textarea>
                    </ion-item>

                    <ion-item>
                            <ion-checkbox checked="true" slot="start" color="secondary"></ion-checkbox>
                            <ion-label> Torta de chocolate </ion-label>
                            <ion-note slot="end">S/ 1.00</ion-note>
                            <ion-label position="floating"> Descripción </ion-label>
                            <ion-textarea maxlength="30"></ion-textarea>
                    </ion-item>

                    <ion-item>
                            <ion-checkbox checked="true" slot="start" color="secondary"></ion-checkbox>
                            <ion-label> Maracuya </ion-label>
                            <ion-note slot="end">S/ 0.00</ion-note>
                            <ion-label position="floating"> Descripción </ion-label>
                            <ion-textarea maxlength="30"></ion-textarea>
                    </ion-item>

                    <ion-item>
                            <ion-label position="floating"> Descripción </ion-label>
                            <ion-textarea maxlength="30"></ion-textarea>
                    </ion-item>              

                </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
